<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body class="c9 c39">
    <p class="c35 title" id="h.xsfia9bdavqi"><span class="c31">Continuously Updated Masterlist of Sources on
            Palestine:</span></p>
    <h2 class="c22" id="h.ogpnqhepyxl5"><span class="c10">Some books/ archives/ articles/ etc :</span></h2>
    <h2 class="c22" id="h.ogpnqhepyxl5"><span class="c10" href="https://docs.google.com/document/d/1-x6Ea5qwrJUi1-QTjvh1PmPL2W5R2X25fglglpBhdb0/edit"> Backup of this Google Doc </h2>
    <p class="c11"><span class="c5"></span></p>
    <p class="c17"><span class="c12">#SaveSheikhJarrah: &nbsp;</span></p>
    <p class="c17"><span class="c13 c30"><a class="c4"
                href="https://www.google.com/url?q=https://linktr.ee/m7mdkurd/&amp;sa=D&amp;source=editors&amp;ust=1621173749173000&amp;usg=AOvVaw1H_-dClGYR_-w166wPnR_7">https://linktr.ee/m7mdkurd/</a></span><span
            class="c30">&nbsp;&amp; </span><span class="c13 c30"><a class="c4"
                href="https://www.google.com/url?q=https://linktr.ee/letstalkpalestine&amp;sa=D&amp;source=editors&amp;ust=1621173749174000&amp;usg=AOvVaw0PNPZ9vJaO5mAuSExC3FSG">https://linktr.ee/letstalkpalestine</a></span><span
            class="c12">&nbsp;</span></p>
    <h4 class="c28" id="h.90gv4aovp096"><span class="c15 c1">Collections: </span></h4>
    <ul class="c18 lst-kix_psnzckr0ptex-0 start">
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://decolonizepalestine.com/introduction-to-palestine/&amp;sa=D&amp;source=editors&amp;ust=1621173749174000&amp;usg=AOvVaw1Za4yq_c1jcYvrNfR1NHv6">https://decolonizepalestine.com/introduction-to-palestine/</a></span><span
                class="c5">&nbsp;(provides Palestine 101 info, counters common myths, answers frequently asked
                questions, and offers reliable reads)</span></li>
    </ul>
    <p class="c11"><span class="c5"></span></p>
    <ul class="c18 lst-kix_ijzhuumdvu10-0 start">
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://drive.google.com/drive/folders/1vvKvDiT_TLRnr-QftISLlM3EJ8eq3Wis&amp;sa=D&amp;source=editors&amp;ust=1621173749175000&amp;usg=AOvVaw2ba6KQX3qKUKqml7uYmXxg">https://drive.google.com/drive/folders/1vvKvDiT_TLRnr-QftISLlM3EJ8eq3Wis</a></span><span
                class="c5">&nbsp;(Palestinian Studies folder compiled by @ayaghanameh)</span></li>
    </ul>
    <ul class="c18 lst-kix_810zph6rkb62-0 start">
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://sincerelyjia.com/must-read-nonfiction-books-about-palestine&amp;sa=D&amp;source=editors&amp;ust=1621173749175000&amp;usg=AOvVaw0CsB3IzTnzp8zRZuNYHe2o">http://sincerelyjia.com/must-read-nonfiction-books-about-palestine</a></span><span>&nbsp;</span><span
                class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://free-palestine.carrd.co/&amp;sa=D&amp;source=editors&amp;ust=1621173749175000&amp;usg=AOvVaw1smQ22uNOtGbUhoMop05kR">https://free-palestine.carrd.co/</a></span><span
                class="c5">&nbsp;(list of non-fiction books about Palestine &amp; carrd)</span></li>
        <li class="c7 li-bullet-0"><span class="c20"><a class="c4"
                    href="https://www.google.com/url?q=https://drive.google.com/drive/mobile/folders/1sck4qTPMSwc5D7C1DmtlAFMDc1BNx2LU&amp;sa=D&amp;source=editors&amp;ust=1621173749175000&amp;usg=AOvVaw3hWtKM-tWqJV18SexZotL2">https://drive.google.com/drive/mobile/folders/1sck4qTPMSwc5D7C1DmtlAFMDc1BNx2LU</a></span><span
                class="c27">&nbsp;</span><span class="c5">(folder of readings compiled by @hotgirlhala/ currently taken
                down by Google)</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://docs.google.com/document/d/1rw55meTlE2p2eh1nTHvvREGHUITJoW7GuuIkgRuJyck/mobilebasic&amp;sa=D&amp;source=editors&amp;ust=1621173749176000&amp;usg=AOvVaw1diINSZgWfWHlggLNu265j">https://docs.google.com/document/d/1rw55meTlE2p2eh1nTHvvREGHUITJoW7GuuIkgRuJyck/mobilebasic</a></span><span
                class="c5">&nbsp;(Palestinian History, Israel&rsquo;s Crimes, and Debunking Zionist Arguments by
                @knafehnabulsiye)</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://docs.google.com/document/d/1ES6NthIq4zq8xfekdIu3-e537UCJ7nqKY6Nk7O3LtTU/edit&amp;sa=D&amp;source=editors&amp;ust=1621173749176000&amp;usg=AOvVaw1D4wLuxad-DZpDWg35Xv9D">https://docs.google.com/document/d/1ES6NthIq4zq8xfekdIu3-e537UCJ7nqKY6Nk7O3LtTU/edit</a></span><span
                class="c5">&nbsp;Radius of Arab American Writers</span></li>
        <li class="c7 li-bullet-0"><span>Link tree: </span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://linktr.ee/palestineresources&amp;sa=D&amp;source=editors&amp;ust=1621173749176000&amp;usg=AOvVaw1Mmg6Hx0Ta5eKih3r68dWS">https://linktr.ee/palestineresources</a></span><span
                class="c5">&nbsp;</span></li>
    </ul>
    <p class="c11"><span class="c5"></span></p>
    <h4 class="c28" id="h.m3gjsc50aul2"><span class="c15 c1">Important Reads:</span></h4>
    <p class="c11"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>Zionist Colonialism in Palestine by Fayez A. Sayegh: </span><span
                class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://www.freedomarchives.org/Documents/Finder/DOC12_scans/12.zionist.colonialism.palestine.1965.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749177000&amp;usg=AOvVaw1cyl_On5lq5jv9JOA05Uxk">http://www.freedomarchives.org/Documents/Finder/DOC12_scans/12.zionist.colonialism.palestine.1965.pdf</a></span><span
                class="c5">&nbsp;</span></li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>Freedom Archives Collection on Palestine: </span><span class="c13"><a
                    class="c4"
                    href="https://www.google.com/url?q=https://search.freedomarchives.org/search.php?view_collection%3D24&amp;sa=D&amp;source=editors&amp;ust=1621173749178000&amp;usg=AOvVaw3nWywAQsChZYzweJtwbNFq">https://search.freedomarchives.org/search.php?view_collection=24</a></span>
        </li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>The 1936-39 Revolt in Palestine by Ghassan Kanafani: </span><span
                class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.marxists.org/archive/kanafani/1972/revolt.htm&amp;sa=D&amp;source=editors&amp;ust=1621173749178000&amp;usg=AOvVaw3FnJEHU-TPTtddmYr48uUR">https://www.marxists.org/archive/kanafani/1972/revolt.htm</a></span><span>&nbsp;/
            </span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://media.virbcdn.com/files/5f/d06c929d62d90a04-3639RevoltinPalestine.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749178000&amp;usg=AOvVaw2A5ZFc3jBBV3e_i5NNiyzI">http://media.virbcdn.com/files/5f/d06c929d62d90a04-3639RevoltinPalestine.pdf</a></span><span
                class="c5">&nbsp;</span></li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>A Short History on the Colonization of Palestine (Flyer): </span><span
                class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://www.onepalestine.org/resources/flyers/MythHistory.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749179000&amp;usg=AOvVaw0ZbsIRehBiwAa64SAbF5nx">http://www.onepalestine.org/resources/flyers/MythHistory.pdf</a></span>
        </li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>The Other Shift: Settler Colonialism, Israel and the Occupation: </span><span
                class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://online.ucpress.edu/jps/article/42/2/26/54509/The-Other-Shift-Settler-Colonialism-Israel-and-the&amp;sa=D&amp;source=editors&amp;ust=1621173749179000&amp;usg=AOvVaw12C6DDTWCMGXJclmfsg2kZ">https://online.ucpress.edu/jps/article/42/2/26/54509/The-Other-Shift-Settler-Colonialism-Israel-and-the</a></span><span
                class="c5">&nbsp;</span></li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>Malcolm X on Zionism: &nbsp;</span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://churchills-karma.com/2020/06/28/malcolm-x-on-zionism-zionist-logic/&amp;sa=D&amp;source=editors&amp;ust=1621173749180000&amp;usg=AOvVaw3HPp9H6X4lv4QGiev4rj2O">https://churchills-karma.com/2020/06/28/malcolm-x-on-zionism-zionist-logic/</a></span>
        </li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>My People Shall Live by Leila Khaled: </span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://leilakhaled.files.wordpress.com/2011/10/my-people-shall-live-leila-khaled.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749180000&amp;usg=AOvVaw2fjC_O2-sERQBfSdmsZU-j">https://leilakhaled.files.wordpress.com/2011/10/my-people-shall-live-leila-khaled.pdf</a></span><span
                class="c5">&nbsp;</span></li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>Rethinking the Nakba: </span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://pdfs.semanticscholar.org/bc6f/04c8b04025d76803c44b02220fa8866a63e6.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749180000&amp;usg=AOvVaw34E0oVuWknyZb5aTjO5V1_">https://pdfs.semanticscholar.org/bc6f/04c8b04025d76803c44b02220fa8866a63e6.pdf</a></span>
        </li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>From Beirut to Jerusalem: </span><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://jfp.freedomflotilla.org/wp-content/uploads/2018/07/From-Beirut-to-Jerusalem.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749181000&amp;usg=AOvVaw3KbPJ43VdDzcDi-bbazkHs">https://jfp.freedomflotilla.org/wp-content/uploads/2018/07/From-Beirut-to-Jerusalem.pdf</a></span>
        </li>
    </ul>
    <p class="c0"><span class="c5"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>Permission to Narrate by Edward Said: </span><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://postcolonialseminar.files.wordpress.com/2013/05/permissiontonarrate.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749181000&amp;usg=AOvVaw1JzPmKBd8VSy762Hxj2tAK">https://postcolonialseminar.files.wordpress.com/2013/05/permissiontonarrate.pdf</a></span><span
                class="c8">&nbsp;</span></li>
    </ul>
    <p class="c0"><span class="c8"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span class="c9 c26">Orientalism by Edward Said : </span><span class="c2"><a
                    class="c4"
                    href="https://www.google.com/url?q=https://monoskop.org/images/4/4e/Said_Edward_Orientalism_1979.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749182000&amp;usg=AOvVaw1xV1uSD73RL5Naqtgcc47B">https://monoskop.org/images/4/4e/Said_Edward_Orientalism_1979.pdf</a></span><span
                class="c8">&nbsp;</span></li>
    </ul>
    <p class="c0"><span class="c8"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span class="c9 c26">Zionism from the Standpoint of Its Victims by Edward Said:
            </span><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://racismandnationalconsciousnessresources.files.wordpress.com/2008/11/edward-said-zionism-from-the-standpoint-of-its-victims.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749182000&amp;usg=AOvVaw0D81m7CzcF5t_aWxhd5PuV">https://racismandnationalconsciousnessresources.files.wordpress.com/2008/11/edward-said-zionism-from-the-standpoint-of-its-victims.pdf</a></span><span
                class="c8">&nbsp;</span></li>
    </ul>
    <p class="c11"><span class="c8"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span class="c8">Decolonization Is a Global Project: From Palestine to the
                Americas:</span></li>
    </ul>
    <p class="c14"><span class="c2"><a class="c4"
                href="https://www.google.com/url?q=https://jps.library.utoronto.ca/index.php/des/article/download/28899/21542/&amp;sa=D&amp;source=editors&amp;ust=1621173749183000&amp;usg=AOvVaw2p69LNsVNC2RWIcRGvEs8V">https://jps.library.utoronto.ca/index.php/des/article/download/28899/21542/</a></span><span
            class="c8">&nbsp;</span></p>
    <p class="c0"><span class="c8"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c23 c9 li-bullet-0"><span class="c19">The Palestinian Women&rsquo;s Autonomous Movement: Emergence,
                Dynamics, and Challenges:</span></li>
    </ul>
    <p class="c23 c9"><span class="c13 c1"><a class="c4"
                href="https://www.google.com/url?q=https://journals.sagepub.com/doi/abs/10.1177/089124398012006004&amp;sa=D&amp;source=editors&amp;ust=1621173749183000&amp;usg=AOvVaw38OcKjNY6yULd3YRBD4O5h">https://journals.sagepub.com/doi/abs/10.1177/089124398012006004</a></span><span
            class="c1">&nbsp;</span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c9 c23 li-bullet-0"><span class="c19">Master Plan for the Conquest of Palestine:</span></li>
    </ul>
    <p class="c23 c9"><span class="c13 c26"><a class="c4"
                href="https://www.google.com/url?q=https://www.jstor.org/stable/2537591?seq%3D1&amp;sa=D&amp;source=editors&amp;ust=1621173749184000&amp;usg=AOvVaw007v7bazZn2DwHMpYBwE86">https://www.jstor.org/stable/2537591?seq=1</a></span><span
            class="c26">&nbsp;</span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span>Yafa: The Rise &amp; Fall of the Agrarian City: </span><span class="c2"><a
                    class="c4"
                    href="https://www.google.com/url?q=https://www.palestine-studies.org/en/node/1650539&amp;sa=D&amp;source=editors&amp;ust=1621173749184000&amp;usg=AOvVaw1anq1UwRe7XM5LwEt47MMU">https://www.palestine-studies.org/en/node/1650539</a></span><span
                class="c24">&nbsp; &nbsp;</span></li>
    </ul>
    <p class="c11"><span class="c24"></span></p>
    <p class="c11"><span class="c24"></span></p>
    <p class="c11"><span class="c24"></span></p>
    <h4 class="c28" id="h.1nufucsys3cn"><span class="c25">Articles/ Websites/ Tweets You May Be Missing Out On:</span>
    </h4>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://al-shabaka.org/en/&amp;sa=D&amp;source=editors&amp;ust=1621173749185000&amp;usg=AOvVaw3JOsqbNA80ld7ETYcy9V9b">https://al-shabaka.org/en/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.grassrootsalquds.net/&amp;sa=D&amp;source=editors&amp;ust=1621173749185000&amp;usg=AOvVaw2_yaq3jt7VUuyqUoJoCpRS">https://www.grassrootsalquds.net/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://al-awda.org/&amp;sa=D&amp;source=editors&amp;ust=1621173749185000&amp;usg=AOvVaw1pD76hkgZI7N0lQVByo-_Z">https://al-awda.org/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://pflp-documents.org/&amp;sa=D&amp;source=editors&amp;ust=1621173749185000&amp;usg=AOvVaw3tNn0_incS04QbsvSKtB4J">http://pflp-documents.org/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://english.palinfo.com/&amp;sa=D&amp;source=editors&amp;ust=1621173749186000&amp;usg=AOvVaw38oVSjsUkNQigyMyQGzHMb">https://english.palinfo.com/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.palestinedeepdive.com/&amp;sa=D&amp;source=editors&amp;ust=1621173749186000&amp;usg=AOvVaw1K4oKDvnrUcWF-X7ayCDyg">https://www.palestinedeepdive.com/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://uscpr.org/about-us/&amp;sa=D&amp;source=editors&amp;ust=1621173749186000&amp;usg=AOvVaw27Hy2vsJtlAInyJzIRaNlm">https://uscpr.org/about-us/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=http://www.countthekids.org/&amp;sa=D&amp;source=editors&amp;ust=1621173749187000&amp;usg=AOvVaw3o9x9SX47VEJ4bHtvZkm8c">http://www.countthekids.org/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://bdsmovement.net/pacbi&amp;sa=D&amp;source=editors&amp;ust=1621173749187000&amp;usg=AOvVaw14sfBmvrnA_jeRjfrIaRKe">https://bdsmovement.net/pacbi</a></span><span>&nbsp;-
            </span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.bdsmovement.net/call&amp;sa=D&amp;source=editors&amp;ust=1621173749189000&amp;usg=AOvVaw1BecVuSuvqLHPfqJVwrCtm">https://www.bdsmovement.net/call</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://imemc.org/article/68429/&amp;sa=D&amp;source=editors&amp;ust=1621173749189000&amp;usg=AOvVaw1J0wSTij16hS9n76of9TbX">https://imemc.org/article/68429/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/content/tale-palestinian-alienation/32351&amp;sa=D&amp;source=editors&amp;ust=1621173749190000&amp;usg=AOvVaw26gmLkvGPwy3Qs6mSXd-Pt">https://electronicintifada.net/content/tale-palestinian-alienation/32351</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.breakingthesilence.org.il/wp-content/uploads/2011/02/Operation_Cast_Lead_Gaza_2009_Eng.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749190000&amp;usg=AOvVaw3x4B6xYRS-uNJPJ4cqv2bB">https://www.breakingthesilence.org.il/wp-content/uploads/2011/02/Operation_Cast_Lead_Gaza_2009_Eng.pdf</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://reliefweb.int/report/occupied-palestinian-territory/generation-children-gaza-brink-mental-health-crisis&amp;sa=D&amp;source=editors&amp;ust=1621173749190000&amp;usg=AOvVaw2BrYOUfjWQZrbFgZX6Zgww">https://reliefweb.int/report/occupied-palestinian-territory/generation-children-gaza-brink-mental-health-crisis</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://jfjfp.com/real-remembrance-real-independence-requires-empathy-justice-equal-rights/&amp;sa=D&amp;source=editors&amp;ust=1621173749191000&amp;usg=AOvVaw0443DudPf7hPFWqv_tmr0F">https://jfjfp.com/real-remembrance-real-independence-requires-empathy-justice-equal-rights/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span>Timeline of Palestine&rsquo;s History: </span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://interactive.aljazeera.com/aje/palestineremix/timeline_main.html&amp;sa=D&amp;source=editors&amp;ust=1621173749191000&amp;usg=AOvVaw2GbzunVxLXnCdYewMIrp0H">https://interactive.aljazeera.com/aje/palestineremix/timeline_main.html</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.aljazeera.com/opinions/2020/5/19/palestine-the-third-way-forward/&amp;sa=D&amp;source=editors&amp;ust=1621173749192000&amp;usg=AOvVaw0rHYOCmwcAWI47noPqRXW8">https://www.aljazeera.com/opinions/2020/5/19/palestine-the-third-way-forward/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://azvsas.blogspot.com/2012/09/the-zionist-destruction-of-iraqi-jewish.html&amp;sa=D&amp;source=editors&amp;ust=1621173749192000&amp;usg=AOvVaw0vzDZwIJSk52MQ3SHZgDi1">https://azvsas.blogspot.com/2012/09/the-zionist-destruction-of-iraqi-jewish.html</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.independent.co.uk/news/world/middle-east/israel-gave-birth-control-ethiopian-jews-without-their-consent-8468800.html&amp;sa=D&amp;source=editors&amp;ust=1621173749193000&amp;usg=AOvVaw2zjQEdXgL_xQLV-jwrjskQ">https://www.independent.co.uk/news/world/middle-east/israel-gave-birth-control-ethiopian-jews-without-their-consent-8468800.html</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://theconversation.com/five-myths-about-palestines-youth-activists-debunked-96736&amp;sa=D&amp;source=editors&amp;ust=1621173749193000&amp;usg=AOvVaw3aZa1foxcTMSdUStXiotWX">https://theconversation.com/five-myths-about-palestines-youth-activists-debunked-96736</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.theguardian.com/commentisfree/2019/apr/03/israel-treatment-palestinians-apartheid-south-africa&amp;sa=D&amp;source=editors&amp;ust=1621173749193000&amp;usg=AOvVaw0Foev7zyjnqwC07xZi8yNJ">https://www.theguardian.com/commentisfree/Palestine/apr/03/israel-treatment-palestinians-apartheid-south-africa</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://www.isreview.org/issues/24/hidden_history.shtml&amp;sa=D&amp;source=editors&amp;ust=1621173749194000&amp;usg=AOvVaw1Y75PKofGZTxlFJ1NEY2xm">http://www.isreview.org/issues/24/hidden_history.shtml</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.972mag.com/the-duty-to-be-outraged/&amp;sa=D&amp;source=editors&amp;ust=1621173749194000&amp;usg=AOvVaw34v2qfiBnDfR959J59EIEi">https://www.972mag.com/the-duty-to-be-outraged/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.counterpunch.org/2018/07/16/the-lydda-death-march-and-the-israeli-state-of-denial/&amp;sa=D&amp;source=editors&amp;ust=1621173749194000&amp;usg=AOvVaw1T3-TPs7a50mxxNP9d-X_G">https://www.counterpunch.org/2018/07/16/the-lydda-death-march-and-the-israeli-state-of-denial/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://www.btselem.org/gaza_strip/20171203_denied_treatment&amp;sa=D&amp;source=editors&amp;ust=1621173749195000&amp;usg=AOvVaw29f99wGyUsjCsOG_TD6zGD">http://www.btselem.org/gaza_strip/20171203_denied_treatment</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://pij.org/articles/224/the-418-destroyed-villages-of-palestine&amp;sa=D&amp;source=editors&amp;ust=1621173749195000&amp;usg=AOvVaw0i2y7RCUD87m1cLLgD5DJ3">https://pij.org/articles/224/the-418-destroyed-villages-of-palestine</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.theguardian.com/world/2019/jun/20/a-jerusalem-hospital-where-palestinian-babies-die-alone&amp;sa=D&amp;source=editors&amp;ust=1621173749196000&amp;usg=AOvVaw2dCWiSxzfdrtoAl7rMWc0F">https://www.theguardian.com/world/2019/jun/20/a-jerusalem-hospital-where-palestinian-babies-die-alone</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://springmag.ca/re-thinking-palestinian-prisoners&amp;sa=D&amp;source=editors&amp;ust=1621173749196000&amp;usg=AOvVaw2HFh9MVzLeA5vvjGuBLteS">https://springmag.ca/re-thinking-palestinian-prisoners</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span>A thread on context regarding attacks on jerusalem </span><span class="c13"><a
                    class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/alshabaka/status/1391679888248262659?s%3D21&amp;sa=D&amp;source=editors&amp;ust=1621173749197000&amp;usg=AOvVaw1gdkwLybqNqxf7e6oeIV-j">https://twitter.com/alshabaka/status/1391679888248262659?s=21</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span>A thread on policies of erasure in jerusalem </span><span class="c13"><a
                    class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/inesabdelrazek/status/1391524888251355138?s%3D21&amp;sa=D&amp;source=editors&amp;ust=1621173749197000&amp;usg=AOvVaw2LQFH-aaarz9FPwgtlipT9">https://twitter.com/inesabdelrazek/status/1391524888251355138?s=21</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/princessmlokhia/status/1321985207281553410?s%3D20&amp;sa=D&amp;source=editors&amp;ust=1621173749197000&amp;usg=AOvVaw1QKAzWuhyTrP2CpG1suSyt">https://twitter.com/princessmlokhia/status/1321985207281553410?s=20</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/princessmlokhia/status/1332544969672970240?s%3D20&amp;sa=D&amp;source=editors&amp;ust=1621173749198000&amp;usg=AOvVaw0gGXY-YOz2NhCj1uX1e1Z_">https://twitter.com/princessmlokhia/status/1332544969672970240?s=20</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://ppost24.com/post/924/sick-palestinian-prisoner-dies-of-medical-negligence-in-israeli-j&amp;sa=D&amp;source=editors&amp;ust=1621173749198000&amp;usg=AOvVaw2ngFskVyV9JzR3pX8U5rHq">https://ppost24.com/post/924/sick-palestinian-prisoner-dies-of-medical-negligence-in-israeli-j</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.msn.com/en-us/news/world/israeli-army-destroys-palestinian-village-in-jordan-valley/ar-BB1aGAy4&amp;sa=D&amp;source=editors&amp;ust=1621173749199000&amp;usg=AOvVaw3ATw_zt2nb0mshijrKMMXh">https://www.msn.com/en-us/news/world/israeli-army-destroys-palestinian-village-in-jordan-valley/ar-BB1aGAy4</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.palestine-studies.org/en&amp;sa=D&amp;source=editors&amp;ust=1621173749199000&amp;usg=AOvVaw36eC2qWDerN2JO3cS7IEKp">https://www.palestine-studies.org/en</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://wearyourvoicemag.com/america-history-israel-two-state-solution-land-theft/&amp;sa=D&amp;source=editors&amp;ust=1621173749200000&amp;usg=AOvVaw3gU0tKrJTkfHajUec0jb3l">https://wearyourvoicemag.com/america-history-israel-two-state-solution-land-theft/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://books.google.com/books/about/Before_Their_Diaspora.html?id%3DU7ltAAAAMAAJ%26redir_esc%3Dy&amp;sa=D&amp;source=editors&amp;ust=1621173749200000&amp;usg=AOvVaw2W--WSRPuFlqadh8QNT2J7">https://books.google.com/books/about/Before_Their_Diaspora.html?id=U7ltAAAAMAAJ&amp;redir_esc=y</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/blogs/tamara-nassar/how-israel-tortures-palestinians&amp;sa=D&amp;source=editors&amp;ust=1621173749201000&amp;usg=AOvVaw1-auUkRtDnxhnJtGBFplPo">https://electronicintifada.net/blogs/tamara-nassar/how-israel-tortures-palestinians</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://cup.columbia.edu/book/the-holocaust-and-the-nakba/9780231182973&amp;sa=D&amp;source=editors&amp;ust=1621173749201000&amp;usg=AOvVaw3TDe2jRDaksgCNqRM56jUB">http://cup.columbia.edu/book/the-holocaust-and-the-nakba/9780231182973</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.independent.co.uk/voices/robert-fisk-sabra-chatila-genocide-armenia-holocaust-israel-yung-chang-not-movie-a9244401.html&amp;sa=D&amp;source=editors&amp;ust=1621173749202000&amp;usg=AOvVaw0phJ_u3ier0IR4y2yVSL-V">https://www.independent.co.uk/voices/robert-fisk-sabra-chatila-genocide-armenia-holocaust-israel-yung-chang-not-movie-a9244401.html</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://theintercept.com/2020/02/01/hundred-years-war-palestine-book-rashid-khalidi/&amp;sa=D&amp;source=editors&amp;ust=1621173749202000&amp;usg=AOvVaw1ps3yJeeo2KPO_KJHO0bDu">https://theintercept.com/2020/02/01/hundred-years-war-palestine-book-rashid-khalidi/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://forward.com/opinion/386480/its-time-to-admit-that-arthur-balfour-was-a-white-supremacist-and-an-anti-s/&amp;sa=D&amp;source=editors&amp;ust=1621173749203000&amp;usg=AOvVaw12l5DsumSTuK435tpwNTMP">https://forward.com/opinion/386480/its-time-to-admit-that-arthur-balfour-was-a-white-supremacist-and-an-anti-s/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=http://shehaben.com/2020/07/13/israeli-occupation-authority-forces-palestinians-to-destroy-their-own-house-in-jerusalem/&amp;sa=D&amp;source=editors&amp;ust=1621173749203000&amp;usg=AOvVaw0kbSqmZ5PLKd5IUHMa6akw">http://shehaben.com/2020/07/13/israeli-occupation-authority-forces-palestinians-to-destroy-their-own-house-in-jerusalem/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/linap0p/status/1283452562126102538?s%3D20&amp;sa=D&amp;source=editors&amp;ust=1621173749204000&amp;usg=AOvVaw1AD7UKrKLlRYy_bDzR7qax">https://twitter.com/linap0p/status/1283452562126102538?s=20</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/LaithMarouf/status/1307271986637307906?s%3D20&amp;sa=D&amp;source=editors&amp;ust=1621173749204000&amp;usg=AOvVaw0VX2x5Nj_-nzUfVYaqK5PB">https://twitter.com/LaithMarouf/status/1307271986637307906?s=20</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://101.visualizingpalestine.org/resources/glossary/nakba&amp;sa=D&amp;source=editors&amp;ust=1621173749204000&amp;usg=AOvVaw1IJwq40cundhdO6sB1Aazf">https://101.visualizingpalestine.org/resources/glossary/nakba</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/content/jenin-wont-forget-israels-massacre/20221&amp;sa=D&amp;source=editors&amp;ust=1621173749205000&amp;usg=AOvVaw2rOzxOQ9DkbXWMnG5JJ13h">https://electronicintifada.net/content/jenin-wont-forget-israels-massacre/20221</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://apnews.com/article/israel-shootings-violent-crime-crime-courts-d59cf8be0aa3d60ab9747d7e0b14b6cd&amp;sa=D&amp;source=editors&amp;ust=1621173749205000&amp;usg=AOvVaw1jv2va8Lny7HxjTbRF1lEz">https://apnews.com/article/israel-shootings-violent-crime-crime-courts-d59cf8be0aa3d60ab9747d7e0b14b6cd</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://actionnetwork.org/petitions/pledge-declaring-palestine-is-a-feminist-issue&amp;sa=D&amp;source=editors&amp;ust=1621173749206000&amp;usg=AOvVaw09zuCh6jMOipwP-IiqWkK6">https://actionnetwork.org/petitions/pledge-declaring-palestine-is-a-feminist-issue</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/chalafilms/status/1277726184286105601&amp;sa=D&amp;source=editors&amp;ust=1621173749206000&amp;usg=AOvVaw14NuJ8-RHDuIX1wzpK9t2P">https://twitter.com/chalafilms/status/1277726184286105601</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/972mag/status/1321821594130538498?s%3D21&amp;sa=D&amp;source=editors&amp;ust=1621173749207000&amp;usg=AOvVaw2BkdkM_LrhAbwpg9oMTm-u">https://twitter.com/972mag/status/1321821594130538498?s=21</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://journals.sagepub.com/doi/abs/10.1177/030639688903000408?journalCode%3Dracb&amp;sa=D&amp;source=editors&amp;ust=1621173749207000&amp;usg=AOvVaw0aWi86D6aLopKuZduom_v1">https://journals.sagepub.com/doi/abs/10.1177/030639688903000408?journalCode=racb</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://journals.kent.ac.uk/index.php/feministsatlaw/article/view/107/282&amp;sa=D&amp;source=editors&amp;ust=1621173749208000&amp;usg=AOvVaw1CrAFH-4y_yhk8A9KkqCDI">https://journals.kent.ac.uk/index.php/feministsatlaw/article/view/107/282</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.972mag.com/pride-assault-palestinian-flag/&amp;sa=D&amp;source=editors&amp;ust=1621173749208000&amp;usg=AOvVaw1a1RyiiY4J9KJQzF1PjbRU">https://www.972mag.com/pride-assault-palestinian-flag/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.btselem.org/sites/default/files/publications/199505_policy_of_discrimination_eng.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749209000&amp;usg=AOvVaw1LK29epO4GuKVoWPECCi-t">https://www.btselem.org/sites/default/files/publications/199505_policy_of_discrimination_eng.pdf</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://jewishvoiceforpeace.org/first-ever-40-jewish-groups-worldwide-oppose-equating-antisemitism-with-criticism-of-israel/&amp;sa=D&amp;source=editors&amp;ust=1621173749209000&amp;usg=AOvVaw3yEjbguJUU6iumX8xjfUvJ">https://jewishvoiceforpeace.org/first-ever-40-jewish-groups-worldwide-oppose-equating-antisemitism-with-criticism-of-israel/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.almasdarnews.com/article/israel-forces-strike-gaza-for-11th-day-in-a-row/&amp;sa=D&amp;source=editors&amp;ust=1621173749210000&amp;usg=AOvVaw083DFeAagew6fK43QwVKob">https://www.almasdarnews.com/article/israel-forces-strike-gaza-for-11th-day-in-a-row/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3D_erZKKUq2hU&amp;sa=D&amp;source=editors&amp;ust=1621173749210000&amp;usg=AOvVaw02cC7vpbCOmaQ9_WGFhRFH">https://www.youtube.com/watch?v=_erZKKUq2hU</a></span><span
                class="c8">&nbsp;(Palestine Olive Harvest: Farmers Under Attack)</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/AManInTheSun/status/930889267475345408&amp;sa=D&amp;source=editors&amp;ust=1621173749210000&amp;usg=AOvVaw0cQNzrwYauJbAtaSxyTtdA">https://twitter.com/AManInTheSun/status/930889267475345408</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/content/why-i-vowed-not-have-children-gaza/13614&amp;sa=D&amp;source=editors&amp;ust=1621173749211000&amp;usg=AOvVaw1FpxT-ESy0Jhf4wW0xNKuW">https://electronicintifada.net/content/why-i-vowed-not-have-children-gaza/13614</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3DrHPC8JeMJWA%26feature%3Dyoutu.be&amp;sa=D&amp;source=editors&amp;ust=1621173749211000&amp;usg=AOvVaw0KEY5xuqVPT7y_loEHd3ee">https://www.youtube.com/watch?v=rHPC8JeMJWA&amp;feature=youtu.be</a></span><span
                class="c8">&nbsp;(Brief Palestine101)</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.dailysabah.com/world/mid-east/israelis-continue-demolishing-palestinian-homes-in-occupied-territories-despite-pandemic&amp;sa=D&amp;source=editors&amp;ust=1621173749212000&amp;usg=AOvVaw2qhyvdtBbUolGJipkwmDjb">https://www.dailysabah.com/world/mid-east/israelis-continue-demolishing-palestinian-homes-in-occupied-territories-despite-pandemic</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://forward.com/opinion/415250/from-the-river-to-the-sea-doesnt-mean-what-you-think-it-means/&amp;sa=D&amp;source=editors&amp;ust=1621173749212000&amp;usg=AOvVaw3Gotm30xZlOfh-xc04Xgff">https://forward.com/opinion/415250/from-the-river-to-the-sea-doesnt-mean-what-you-think-it-means/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.thenation.com/article/archive/video-living-under-israels-missiles/&amp;sa=D&amp;source=editors&amp;ust=1621173749213000&amp;usg=AOvVaw2M5sVm-Bo8WNHXRFva3Xaz">https://www.thenation.com/article/archive/video-living-under-israels-missiles/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://watchdogsgazette.com/affairs/leila-khaled-and-the-online-censorship-of-palestinian-narratives/&amp;sa=D&amp;source=editors&amp;ust=1621173749213000&amp;usg=AOvVaw0O8xPuoxgH2XJLsTXk6Wk1">https://watchdogsgazette.com/affairs/leila-khaled-and-the-online-censorship-of-palestinian-narratives/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://palestinelegal.org/news/2020/10/23/big-tech-censors-palestine-again&amp;sa=D&amp;source=editors&amp;ust=1621173749214000&amp;usg=AOvVaw0p-UGf95RM5VEeQ-yFXv-x">https://palestinelegal.org/news/2020/10/23/big-tech-censors-palestine-again</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/blogs/maureen-clare-murphy/israel-lies-after-soldiers-choke-and-kill-palestinian-boy&amp;sa=D&amp;source=editors&amp;ust=1621173749214000&amp;usg=AOvVaw0fBgkRbYGRLiKS5qj38aIx">https://electronicintifada.net/blogs/maureen-clare-murphy/israel-lies-after-soldiers-choke-and-kill-palestinian-boy</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.972mag.com/israeli-right-jewish-supremacy-segregation/&amp;sa=D&amp;source=editors&amp;ust=1621173749215000&amp;usg=AOvVaw0Lcx1VJJoTMRONadmo8102">https://www.972mag.com/israeli-right-jewish-supremacy-segregation/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=http://www.addameer.org/news/israeli-occupation-forces-arrest-human-rights-defenders-khitam-sa%25E2%2580%2599afin-and-muhannad-al-azzah&amp;sa=D&amp;source=editors&amp;ust=1621173749215000&amp;usg=AOvVaw05ytLGqu4J8M-lpvo6hFCO">http://www.addameer.org/news/israeli-occupation-forces-arrest-human-rights-defenders-khitam-sa%E2%80%99afin-and-muhannad-al-azzah</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.middleeasteye.net/news/palestine-israel-killed-west-bank-checkpoint-rawajba&amp;sa=D&amp;source=editors&amp;ust=1621173749216000&amp;usg=AOvVaw07zNZ7lo3zaQMlRRIp7sMb">https://www.middleeasteye.net/news/palestine-israel-killed-west-bank-checkpoint-rawajba</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.doubledown.news/watch/2020/3/july/israel-is-a-racist-apartheid-state-west-bank-annexation-former-south-african-mp-andrew-feinstein&amp;sa=D&amp;source=editors&amp;ust=1621173749216000&amp;usg=AOvVaw0UrJJhkJaWdNByal7mvR1h">https://www.doubledown.news/watch/2020/3/july/israel-is-a-racist-apartheid-state-west-bank-annexation-former-south-african-mp-andrew-feinstein</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.middleeastmonitor.com/20201113-who-slams-israel-for-health-violations-against-palestine/&amp;sa=D&amp;source=editors&amp;ust=1621173749217000&amp;usg=AOvVaw3mCnQ53aZIaNEopPWbOzEF">https://www.middleeastmonitor.com/20201113-who-slams-israel-for-health-violations-against-palestine/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=http://vpalestine.org/2020/11/05/un-israel-leaves-41-children-homeless-after-razing-palestinian-village/&amp;sa=D&amp;source=editors&amp;ust=1621173749217000&amp;usg=AOvVaw0zicaOb_21U-o0g1ydPdGP">http://vpalestine.org/2020/11/05/un-israel-leaves-41-children-homeless-after-razing-palestinian-village/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://docs.google.com/presentation/d/1uPsNHEgwmdtSHwUxG-UwRU_HjDseFTfZhVVqHi_wdC0/edit%23slide%3Did.p&amp;sa=D&amp;source=editors&amp;ust=1621173749217000&amp;usg=AOvVaw0a0y9he7MvqEyZRcMtT9iv">https://docs.google.com/presentation/d/1uPsNHEgwmdtSHwUxG-UwRU_HjDseFTfZhVVqHi_wdC0/edit#slide=id.p</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=http://interactive.aljazeera.com/aje/PalestineRemix/&amp;sa=D&amp;source=editors&amp;ust=1621173749218000&amp;usg=AOvVaw0aa8teNovkPQ1OYZOrr50B">http://interactive.aljazeera.com/aje/PalestineRemix/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://time.com/5914975/what-to-know-about-bds/&amp;sa=D&amp;source=editors&amp;ust=1621173749218000&amp;usg=AOvVaw3tJJxf2803XnRX7HD9M6EX">https://time.com/5914975/what-to-know-about-bds/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://unsco.unmissions.org/sites/default/files/gaza_10_years_later_-_11_july_2017.pdf&amp;sa=D&amp;source=editors&amp;ust=1621173749218000&amp;usg=AOvVaw2Dbj-3LixQM9_D6bwchZvY">https://unsco.unmissions.org/sites/default/files/gaza_10_years_later_-_11_july_2017.pdf</a></span><span
                class="c8">&nbsp;(Gaza 10 Years Later)</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://mondoweiss.net/2018/08/language-palestinian-freedom/?amp%3D1&amp;sa=D&amp;source=editors&amp;ust=1621173749219000&amp;usg=AOvVaw0dclebtCB1OMdhfcSuZkj6">https://mondoweiss.net/2018/08/language-palestinian-freedom/?amp=1</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://mondoweiss.net/2017/12/childrens-zionists-losing/?amp%3D1&amp;sa=D&amp;source=editors&amp;ust=1621173749219000&amp;usg=AOvVaw1cbQM5YAfdtjWU-AOTWZe8">https://mondoweiss.net/2017/12/childrens-zionists-losing/?amp=1</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://mondoweiss.net/2018/10/guide-principled-zionism/&amp;sa=D&amp;source=editors&amp;ust=1621173749220000&amp;usg=AOvVaw0vdxE_QNvb4FgJCmclCwJN">https://mondoweiss.net/2018/10/guide-principled-zionism/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://mondoweiss.net/2020/11/ending-the-racial-contract-in-israel-palestine/&amp;sa=D&amp;source=editors&amp;ust=1621173749220000&amp;usg=AOvVaw2UHHCzPEcp1O87vc_6898q">https://mondoweiss.net/2020/11/ending-the-racial-contract-in-israel-palestine/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.mei.edu/events/webinar-series-future-palestinian-politics-under-biden-administration&amp;sa=D&amp;source=editors&amp;ust=1621173749221000&amp;usg=AOvVaw02_cXNPwn-I5k-xc8wJP_J">https://www.mei.edu/events/webinar-series-future-palestinian-politics-under-biden-administration</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=http://stevesalaita.com/the-unlocked-turnstile-of-palestine-solidarity/&amp;sa=D&amp;source=editors&amp;ust=1621173749221000&amp;usg=AOvVaw1PwO9kHXYPSy-P6e3dD6XN">http://stevesalaita.com/the-unlocked-turnstile-of-palestine-solidarity/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.middleeasteye.net/news/israel-west-bank-settlements-sewage-dump&amp;sa=D&amp;source=editors&amp;ust=1621173749222000&amp;usg=AOvVaw0zuQ_-DomSq-Nu48rl4-nz">https://www.middleeasteye.net/news/israel-west-bank-settlements-sewage-dump</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.middleeasteye.net/news/killing-palestinian-teen-sparks-anger-west-bank&amp;sa=D&amp;source=editors&amp;ust=1621173749222000&amp;usg=AOvVaw0pT898mP5OpUb0XTtYF70I">https://www.middleeasteye.net/news/killing-palestinian-teen-sparks-anger-west-bank</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/yoskesh/status/1279123681353043968&amp;sa=D&amp;source=editors&amp;ust=1621173749222000&amp;usg=AOvVaw3xmOOznzUkztCf4_ffPc0K">https://twitter.com/yoskesh/status/1279123681353043968</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/ayaghanameh/status/1358599484989706241?s%3D20&amp;sa=D&amp;source=editors&amp;ust=1621173749223000&amp;usg=AOvVaw3odE19nAUpYP_hfVPacqj9">https://twitter.com/ayaghanameh/status/1358599484989706241?s=20</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/Prolapsarian/status/1276187735615823873?s%3D20&amp;sa=D&amp;source=editors&amp;ust=1621173749223000&amp;usg=AOvVaw14UQll4JUTGbwjMDP1iZyE">https://twitter.com/Prolapsarian/status/1276187735615823873?s=20</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.ucpress.edu/book/9780520295711/gaza&amp;sa=D&amp;source=editors&amp;ust=1621173749223000&amp;usg=AOvVaw28CVxUu6BYYaqnvQJY8Sk_">https://www.ucpress.edu/book/9780520295711/gaza</a></span><span
                class="c8">&nbsp;(Gaza, an Inquest into Martyrdom by Norman Finkelstein)</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.theguardian.com/world/2014/aug/07/palestinians-return-home-israeli-troops-faeces-graffiti&amp;sa=D&amp;source=editors&amp;ust=1621173749223000&amp;usg=AOvVaw1t8y2uhejOjvWotg1eiDhL">https://www.theguardian.com/world/2014/aug/07/palestinians-return-home-israeli-troops-faeces-graffiti</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://golan-marsad.org/gallery/&amp;sa=D&amp;source=editors&amp;ust=1621173749224000&amp;usg=AOvVaw3cHc5XbvrT86fGghDojbJk">https://golan-marsad.org/gallery/</a></span><span
                class="c8">&nbsp;(golan)</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/telesurenglish/status/1268376678897721345&amp;sa=D&amp;source=editors&amp;ust=1621173749224000&amp;usg=AOvVaw1rhUkVM7JcY3qak0YegnDC">https://twitter.com/telesurenglish/status/1268376678897721345</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://twitter.com/theIMEU/status/1262742857921617920&amp;sa=D&amp;source=editors&amp;ust=1621173749225000&amp;usg=AOvVaw1VXr57DVSTUUZ1x8Qm32j4">https://twitter.com/theIMEU/status/1262742857921617920</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/content/palestine-pictures-december-2020/32031?utm_source%3DEI%2Breaders%26utm_campaign%3Dcef4391278-RSS_EMAIL_CAMPAIGN%26utm_medium%3Demail%26utm_term%3D0_e802a7602d-cef4391278-299229080&amp;sa=D&amp;source=editors&amp;ust=1621173749225000&amp;usg=AOvVaw0xTHVvIv01UYpJMKVRHkPR">https://electronicintifada.net/content/palestine-pictures-december-2020/32031?utm_source=EI+readers&amp;utm_campaign=cef4391278-RSS_EMAIL_CAMPAIGN&amp;utm_medium=email&amp;utm_term=0_e802a7602d-cef4391278-299229080</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://watchdogsgazette.com/affairs/on-52-years-of-palestinian-hunger-strikes/&amp;sa=D&amp;source=editors&amp;ust=1621173749226000&amp;usg=AOvVaw1J3ZzACvSvDt0scf6l61YX">https://watchdogsgazette.com/affairs/on-52-years-of-palestinian-hunger-strikes/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.documentjournal.com/2020/05/meet-the-23-year-old-entrepreneur-providing-masks-to-communities-in-gaza/&amp;sa=D&amp;source=editors&amp;ust=1621173749226000&amp;usg=AOvVaw1IvFqR9_h6k2_H5T2YMuZl">https://www.documentjournal.com/2020/05/meet-the-23-year-old-entrepreneur-providing-masks-to-communities-in-gaza/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.middleeasteye.net/opinion/why-calling-israel-apartheid-state-not-enough&amp;sa=D&amp;source=editors&amp;ust=1621173749226000&amp;usg=AOvVaw3uVT7Rv5gQyuYD30zFc_tI">https://www.middleeasteye.net/opinion/why-calling-israel-apartheid-state-not-enough</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.972mag.com/biden-letter-tamimi-nabi-saleh/&amp;sa=D&amp;source=editors&amp;ust=1621173749227000&amp;usg=AOvVaw3apkd_TFTHs2hdhr4Bcvpk">https://www.972mag.com/biden-letter-tamimi-nabi-saleh/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.middleeastmonitor.com/20210119-why-has-israel-banned-jenin-jenin-it-fears-the-palestinian-narrative/&amp;sa=D&amp;source=editors&amp;ust=1621173749227000&amp;usg=AOvVaw2KuNeNpqBvyxQGwHiaSSqC">https://www.middleeastmonitor.com/20210119-why-has-israel-banned-jenin-jenin-it-fears-the-palestinian-narrative/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://imeu.org/article/factsheet-palestine-2020-in-review&amp;sa=D&amp;source=editors&amp;ust=1621173749227000&amp;usg=AOvVaw1YZVCH9JYVILu0vzNNhg1a">https://imeu.org/article/factsheet-palestine-2020-in-review</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.pdfdrive.com/militarization-and-violence-against-women-in-conflict-zones-in-the-middle-east-a-palestinian-case-study-e184325324.html&amp;sa=D&amp;source=editors&amp;ust=1621173749228000&amp;usg=AOvVaw31y66ps6QYU9Rxxif8MHvz">https://www.pdfdrive.com/militarization-and-violence-against-women-in-conflict-zones-in-the-middle-east-a-palestinian-case-study-e184325324.html</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.opendemocracy.net/en/north-africa-west-asia/role-of-palestinian-women-in-resistance/&amp;sa=D&amp;source=editors&amp;ust=1621173749228000&amp;usg=AOvVaw2tLOSyOE5DulNcqyev0Pbu">https://www.opendemocracy.net/en/north-africa-west-asia/role-of-palestinian-women-in-resistance/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.counterpunch.org/2019/10/31/the-ethnic-cleansing-of-palestinian-christians-that-nobody-is-talking-about/&amp;sa=D&amp;source=editors&amp;ust=1621173749229000&amp;usg=AOvVaw1ye7_7pD1qZQld-GtTLPrN">https://www.counterpunch.org/2019/10/31/the-ethnic-cleansing-of-palestinian-christians-that-nobody-is-talking-about/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://liberationschool.org/the-long-history-of-black-and-palestinian-solidarity/&amp;sa=D&amp;source=editors&amp;ust=1621173749229000&amp;usg=AOvVaw3yHYAA9IaN8rcr-Ktu6oHL">https://liberationschool.org/the-long-history-of-black-and-palestinian-solidarity/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/blogs/tamara-nassar/palestinian-child-says-he-was-raped-israeli-interrogator&amp;sa=D&amp;source=editors&amp;ust=1621173749229000&amp;usg=AOvVaw3qtybjnkAnNWMslN5g0meo">https://electronicintifada.net/blogs/tamara-nassar/palestinian-child-says-he-was-raped-israeli-interrogator</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.counterpunch.org/2015/04/06/how-amnesty-international-criminalizes-palestinians-for-their-inferior-weapons/&amp;sa=D&amp;source=editors&amp;ust=1621173749230000&amp;usg=AOvVaw3fHx-b5RELkh1tfxu-tNCh">https://www.counterpunch.org/2015/04/06/how-amnesty-international-criminalizes-palestinians-for-their-inferior-weapons/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.presstv.com/Detail/2021/02/13/645201/Palestine-Israel-house-demolition-West-Bank-homeless-&amp;sa=D&amp;source=editors&amp;ust=1621173749230000&amp;usg=AOvVaw2K-qTycbvs5onCEGtcB3AX">https://www.presstv.com/Detail/2021/02/13/645201/Palestine-Israel-house-demolition-West-Bank-homeless-</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.aljazeera.com/opinions/2021/1/27/palestinian-elections-democracy-for-no-one&amp;sa=D&amp;source=editors&amp;ust=1621173749231000&amp;usg=AOvVaw2oN1Kkk0SZC08l2kVGULBL">https://www.aljazeera.com/opinions/2021/1/27/palestinian-elections-democracy-for-no-one</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/content/persecution-palestinian-student/32276&amp;sa=D&amp;source=editors&amp;ust=1621173749231000&amp;usg=AOvVaw2oF1Xzvd-3pknJ4GA6jtAz">https://electronicintifada.net/content/persecution-palestinian-student/32276</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://en.safa.news/post/797/Israel-arrests-456-Palestinians-in-January&amp;sa=D&amp;source=editors&amp;ust=1621173749232000&amp;usg=AOvVaw0iWowgVoQ9GkwzAodf3CdR">https://en.safa.news/post/797/Israel-arrests-456-Palestinians-in-January</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://morningstaronline.co.uk/article/w/israel-arrested-over-500-palestinian-children-last-year-human-rights-lawyer-says&amp;sa=D&amp;source=editors&amp;ust=1621173749232000&amp;usg=AOvVaw1KMs733xctW7_p6TYKRl-S">https://morningstaronline.co.uk/article/w/israel-arrested-over-500-palestinian-children-last-year-human-rights-lawyer-says</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://tekdeeps.com/khan-yunis-is-a-massacre-that-disappeared-from-history-and-was-documented-by-an-american-journalist/&amp;sa=D&amp;source=editors&amp;ust=1621173749233000&amp;usg=AOvVaw27qa_aQLMxKXVyWKHAmV_p">https://tekdeeps.com/khan-yunis-is-a-massacre-that-disappeared-from-history-and-was-documented-by-an-american-journalist/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://electronicintifada.net/blogs/maureen-clare-murphy/deep-concern-wont-halt-jerusalem-evictions&amp;sa=D&amp;source=editors&amp;ust=1621173749233000&amp;usg=AOvVaw1XXkoDXaTVeG08ZEzqaFBo">https://electronicintifada.net/blogs/maureen-clare-murphy/deep-concern-wont-halt-jerusalem-evictions</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.wbal.com/article/513341/3/palestinians-fear-loss-of-family-homes-as-evictions-loom&amp;sa=D&amp;source=editors&amp;ust=1621173749233000&amp;usg=AOvVaw3wks4Cq8Y1099PmZF9kAv0">https://www.wbal.com/article/513341/3/palestinians-fear-loss-of-family-homes-as-evictions-loom</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://mondoweiss.net/2021/05/the-media-is-an-accomplice-in-erasing-palestinian-life/&amp;sa=D&amp;source=editors&amp;ust=1621173749234000&amp;usg=AOvVaw0xq0l_UEgrMe_0Rug1Z3zT">https://mondoweiss.net/2021/05/the-media-is-an-accomplice-in-erasing-palestinian-life/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://politicstoday.org/sheikh-jarrah-a-third-palestinian-intifada-is-now-a-stones-throw-away/&amp;sa=D&amp;source=editors&amp;ust=1621173749234000&amp;usg=AOvVaw1Jtw2GSpO23Rol4SaB05qV">https://politicstoday.org/sheikh-jarrah-a-third-palestinian-intifada-is-now-a-stones-throw-away/</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.aljazeera.com/opinions/2021/5/13/social-media-companies-are-trying-to-silence-palestinian-voices&amp;sa=D&amp;source=editors&amp;ust=1621173749235000&amp;usg=AOvVaw1X9DPv7I8U_Y4jYYvSs7DF">https://www.aljazeera.com/opinions/2021/5/13/social-media-companies-are-trying-to-silence-palestinian-voices</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.btselem.org/gaza_strip/20200818_gaza_water_scarce_polluted_mostly_unfit_for_use&amp;sa=D&amp;source=editors&amp;ust=1621173749235000&amp;usg=AOvVaw1gV8j8PbKjV5KFLTnFiFE6">https://www.btselem.org/gaza_strip/20200818_gaza_water_scarce_polluted_mostly_unfit_for_use</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://english.palinfo.com/news/2021/5/12/gaza-hundreds-of-homes-and-buildings-destroyed-or-damaged&amp;sa=D&amp;source=editors&amp;ust=1621173749235000&amp;usg=AOvVaw3sXynQBpWX50G3e72aL4ax">https://english.palinfo.com/news/2021/5/12/gaza-hundreds-of-homes-and-buildings-destroyed-or-damaged</a></span><span
                class="c8">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c2"><a class="c4"
                    href="https://www.google.com/url?q=https://www.ochaopt.org/content/key-figures-2014-hostilities&amp;sa=D&amp;source=editors&amp;ust=1621173749236000&amp;usg=AOvVaw1jnhNrslVx2TQ5rXZPD74p">https://www.ochaopt.org/content/key-figures-2014-hostilities</a></span><span
                class="c8">&nbsp;</span></li>
    </ul>
    <p class="c11"><span class="c8"></span></p>
    <ul class="c18 lst-kix_810zph6rkb62-0">
        <li class="c7 li-bullet-0"><span class="c5">Bzu&rsquo;s list of archives (ar):
                https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:51da5a52-fa9b-49d7-9797-a9f1f11d43c7</span>
        </li>
    </ul>
    <p class="c11"><span class="c5"></span></p>
    <h2 class="c22" id="h.v5ja3qp6mhdu"><span class="c10">Documentaries &amp; Podcasts:</span></h2>
    <ul class="c18 lst-kix_s3us63w2q533-0 start">
        <li class="c7 li-bullet-0"><span class="c5">1948: Creation &amp; Catastrophe (Andy Trimlett, Ahlam
                Muhtaseb)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">5 Broken Cameras (Emad Burnat, Guy Davidi)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Gaza Left in the Dark (Ashraf Al-Mashrawy)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Al-Nakba (Rawan Damen)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">My Very Private Map (Sobhi Al-Zobaidi)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Jenin, Jenin (Mohammed Bakri) </span></li>
        <li class="c7 li-bullet-0"><span>Gaza Fights for Freedom (Abby Martin) </span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://youtu.be/HnZSaKYmP2s&amp;sa=D&amp;source=editors&amp;ust=1621173749237000&amp;usg=AOvVaw169oEshKpyxCNkRUL-Ya_N">https://youtu.be/HnZSaKYmP2s</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Avenge but One of My Two Eyes (Avi Mograbi)</span></li>
        <li class="c7 li-bullet-0"><span>500 Dunam on the Moon (</span><span class="c29 c9">Rachel Leah Jones)</span>
        </li>
        <li class="c7 li-bullet-0"><span class="c9 c34">The Zionist Story (Ronen Berelovich</span><span
                class="c16">)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Peace, Propaganda and the Promised Land (Bathsheba Ratzkoff, Sut
                Jhally)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Fertile Memory (Michel Khleifi)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Route 181 (Eyal Sivan, Michel Khleifi)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Leila Khaled: Hijacker (Lina Makboul)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Ghost Hunting (Raed Andoni)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">Stitching Palestine (Carol Mansour)</span></li>
        <li class="c7 li-bullet-0"><span class="c5">The Dream (Mohammed Malas)</span></li>
        <li class="c7 li-bullet-0"><span>Censoring Palestine: The Weaponisation of Antisemitism: </span><span
                class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://samidoun.net/2020/11/new-documentary-video-censoring-palestine-the-weaponisation-of-anti-semitism/&amp;sa=D&amp;source=editors&amp;ust=1621173749239000&amp;usg=AOvVaw3P98TfS0wg6nE8V81F9I3v">https://samidoun.net/2020/11/new-documentary-video-censoring-palestine-the-weaponisation-of-anti-semitism/</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://vimeo.com/432062498&amp;sa=D&amp;source=editors&amp;ust=1621173749239000&amp;usg=AOvVaw0BOgSrFJCj43BsahsqP1X3">https://vimeo.com/432062498</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://palestinefilms.org/en/Film/1976/Tal-Alzaetar&amp;sa=D&amp;source=editors&amp;ust=1621173749239000&amp;usg=AOvVaw21D49n3hP6NDsGETf_Aij_">https://palestinefilms.org/en/Film/1976/Tal-Alzaetar</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.facebook.com/issambayanofficial/videos/695826507175143/&amp;sa=D&amp;source=editors&amp;ust=1621173749240000&amp;usg=AOvVaw2TXICDPWP1UEycwO1T5JhU">https://www.facebook.com/issambayanofficial/videos/695826507175143/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span>The Occupation of Palestine: A Short History </span><span class="c13"><a
                    class="c4"
                    href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3DcXhqgsZ7ZRc&amp;sa=D&amp;source=editors&amp;ust=1621173749240000&amp;usg=AOvVaw11MLc4G4Ga9bGdAzzLn5Hd">https://www.youtube.com/watch?v=cXhqgsZ7ZRc</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span>Jerusalem&rsquo;s Afro-Palestinians Feel More Integrated </span><span
                class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3DaOnL80yhiko&amp;sa=D&amp;source=editors&amp;ust=1621173749241000&amp;usg=AOvVaw2Hw2MLE5p22edNhFfEtfoj">https://www.youtube.com/watch?v=aOnL80yhiko</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span>Ghassan Kanafani Interview (Beirut, 1970) </span><span class="c13"><a
                    class="c4"
                    href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3D3h_drCmG2iM&amp;sa=D&amp;source=editors&amp;ust=1621173749241000&amp;usg=AOvVaw19kvAAflZ1k74oWpKhH-rp">https://www.youtube.com/watch?v=3h_drCmG2iM</a></span><span
                class="c5">&nbsp;</span></li>
        <li class="c7 li-bullet-0"><span>List of other documentaries: </span><span class="c13"><a class="c4"
                    href="https://www.google.com/url?q=https://bestdocus.wordpress.com/revolution-story/&amp;sa=D&amp;source=editors&amp;ust=1621173749241000&amp;usg=AOvVaw0JV2EmxtefXSXYGO3O5KJ0">https://bestdocus.wordpress.com/revolution-story/</a></span>
        </li>
        <li class="c7 li-bullet-0"><span class="c5">(No, that crash course video on youtube is not a valid
                source).</span></li>
        <li class="c7 li-bullet-0"><span>Palestine Is Not a Jewish Issue by the East Podcast: </span><span class="c2"><a
                    class="c4"
                    href="https://www.google.com/url?q=https://oembed.libsyn.com/embed?item_id%3D14441309&amp;sa=D&amp;source=editors&amp;ust=1621173749242000&amp;usg=AOvVaw1EykKFi-im2Ld662yCc56s">https://oembed.libsyn.com/embed?item_id=14441309</a></span>
        </li>
        <li class="c28 c37 li-bullet-0">
            <h4 id="h.xf9j7w7nre4g" style="display:inline"><span class="c1 c32">Podcasts:</span></h4>
        </li>
    </ul>
    <p class="c14"><span class="c5">The Electronic Intifada Podcast, This is Palestine (by IMEU), Rethinking Palestine
            by Al-Shabaka, The Edward Said Mixtape, Palestine Writes Back, The Palestine Podcast</span></p>
    <p class="c11"><span class="c5"></span></p>
    <h2 class="c22" id="h.l33o49vz2jmr"><span class="c10">Stay Updated: </span></h2>
    <p class="c17"><span class="c21 c1">Twitter</span></p>
    <ul class="c18 lst-kix_tqbf37g22oh-0 start">
        <li class="c7 li-bullet-0"><span class="c6 c1">@intifada</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@theIMEU</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@ShehabAgency (ar) / @ShehabAgencyEn</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@Inesabdelrazek</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@timesofgaza</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@FalastinVoices</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@AbbyMartin</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@Mondoweiss</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@jvplive</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@Qudsn_en</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@Eyeonpal</span></li>
        <li class="c7 li-bullet-0"><span class="c33 c1">@</span><span class="c6 c9 c1">swilkinsonbc</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c9 c1">@AliAbunimah</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c9 c1">@MuhammadSmiry</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c9 c1">@PalOnlineTeam</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c9 c1">@holylandsalt</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@AManInTheSun</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@YousefMunayyer</span></li>
        <li class="c37 c9 c38 li-bullet-0"><span class="c6 c9 c1">@pal_legal</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c9 c1">@palinfoen</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c9 c1">@RivertoSea48</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c9 c1">@Remroum </span></li>
        <li class="c7 li-bullet-0"><span class="c6 c9 c1">@Alshabaka</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@DaysofPalestine</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@Omar_Gaza</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@rananazzalh</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@MariamBarghouti</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@yarahawari</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@stevesalaita</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@ayaghanameh</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c1 c9">@LinahAlsaafin</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@visualizingpal</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@NewpressPs</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@NewPress_en</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@PalStudies</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@nooranhamdan</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@Alqastalps</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@WeAreNotNumbers</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@aljarmaqnet</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@TamaraINassar</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@itranslate123</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@m7mdkurd</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@Farah_Gazan</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@aiye</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@Pal_Shaheed (the martyrs)</span></li>
        <li class="c3 li-bullet-0"><span class="c6 c9 c1">@GolanMarsad (for Golan)</span></li>
        <li class="c7 li-bullet-0"><span class="c1 c33">For BDS: @BDSmovement @PACBI</span></li>
    </ul>
    <p class="c14"><span class="c30 c36">Instagram:</span><span class="c6 c30">&nbsp;</span></p>
    <ul class="c18 lst-kix_4w69f2uyznbw-0 start">
        <li class="c7 li-bullet-0"><span class="c6 c1">@letstalkpalestine</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@eye.on.palestine</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@theimeu</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@documentingpalestine</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@imaginingtheholy</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@activestills</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@visualizing_palestine</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@hiddenpalestine</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@jewishvoiceforpeace</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@palestinianyouthmovement, </span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@watanpalestine </span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@palfilminstitute</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@we_are_not_numbers</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@qudsnen</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@outvertigo</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@palarchive</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@key48return</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@untoldpalestine</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@metraswebsite </span></li>
        <li class="c7 li-bullet-0"><span class="c1 c6">@itsmadeinpalestine</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@mohammedelkurd </span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@ramzi.ans </span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@muna.kurd15</span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@shufat.alquds </span></li>
        <li class="c7 li-bullet-0"><span class="c6 c1">@ramallah.mix</span></li>
    </ul>
    <p class="c11"><span class="c6 c1"></span></p>
    <p class="c11"><span class="c5"></span></p>
    <p class="c0"><span class="c5"></span></p>
    <p class="c11"><span class="c5"></span></p>
    <p class="c11"><span class="c5"></span></p>
    <p class="c0"><span class="c5"></span></p>
    <p class="c11"><span class="c5"></span></p>
</body>

</html>