@import url('https://themes.googleusercontent.com/fonts/css?kit=OPeqXG-QxW3ZD8BtmPikfA');
body {
	text-align: center;
	}
/* Nav bar */
	.nav {
		position: right;
		float: right;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 200px;
		background-color: #f1f1f1;
		border: 1px solid #555;
	  }
	  
	  .nav li a {
		display: block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
	  }
	  
	 .nav li {
		text-align: center;
		border-bottom: 1px solid #555;
	  }
	  
	 .nav li:last-child {
		border-bottom: none;
	  }
	  
	 .nav li a.active {
		background-color: #4CAF50;
		color: white;
	  }
	  
	  .nav li a:hover:not(.active) {
		background-color: #555;
		color: white;
	  }
/* end nav bar */
.lst-kix_xwocr6ggltjz-6 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-6;
}

.lst-kix_yg1kfgpctdls-7 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-7;
}

ul.lst-kix_4w69f2uyznbw-3 {
  list-style-type: none;
}

ul.lst-kix_4w69f2uyznbw-2 {
  list-style-type: none;
}

ul.lst-kix_4w69f2uyznbw-5 {
  list-style-type: none;
}

.lst-kix_vzjkj1itbnic-0 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_4w69f2uyznbw-4 {
  list-style-type: none;
}

ul.lst-kix_4w69f2uyznbw-7 {
  list-style-type: none;
}

ul.lst-kix_4w69f2uyznbw-6 {
  list-style-type: none;
}

.lst-kix_vzjkj1itbnic-3 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_4w69f2uyznbw-8 {
  list-style-type: none;
}

.lst-kix_ujb0cbvyduvg-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_vzjkj1itbnic-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_vzjkj1itbnic-5 > li:before {
  content: '\0025a0  ';
}

ol.lst-kix_yg1kfgpctdls-6.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-6 0;
}

ol.lst-kix_xwocr6ggltjz-5.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-5 0;
}

.lst-kix_vzjkj1itbnic-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_vzjkj1itbnic-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_vzjkj1itbnic-6 > li:before {
  content: '\0025cf  ';
}

.lst-kix_vzjkj1itbnic-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_vzjkj1itbnic-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_xwocr6ggltjz-4 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-4;
}

ul.lst-kix_4w69f2uyznbw-1 {
  list-style-type: none;
}

ul.lst-kix_4w69f2uyznbw-0 {
  list-style-type: none;
}

.lst-kix_rtk8dibdn4n3-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_rtk8dibdn4n3-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_rtk8dibdn4n3-2 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_ujb0cbvyduvg-1 {
  list-style-type: none;
}

.lst-kix_xwocr6ggltjz-1 > li:before {
  content: '' counter(lst-ctn-kix_xwocr6ggltjz-1, lower-latin) ') ';
}

ul.lst-kix_ujb0cbvyduvg-0 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-0.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-0 0;
}

.lst-kix_xwocr6ggltjz-2 > li:before {
  content: '' counter(lst-ctn-kix_xwocr6ggltjz-2, lower-roman) ') ';
}

ul.lst-kix_ujb0cbvyduvg-5 {
  list-style-type: none;
}

.lst-kix_xwocr6ggltjz-3 > li:before {
  content: '(' counter(lst-ctn-kix_xwocr6ggltjz-3, decimal) ') ';
}

ul.lst-kix_ujb0cbvyduvg-4 {
  list-style-type: none;
}

ul.lst-kix_ujb0cbvyduvg-3 {
  list-style-type: none;
}

ul.lst-kix_ujb0cbvyduvg-2 {
  list-style-type: none;
}

ul.lst-kix_ujb0cbvyduvg-8 {
  list-style-type: none;
}

ul.lst-kix_ujb0cbvyduvg-7 {
  list-style-type: none;
}

.lst-kix_xwocr6ggltjz-4 > li:before {
  content: '(' counter(lst-ctn-kix_xwocr6ggltjz-4, lower-latin) ') ';
}

ul.lst-kix_ujb0cbvyduvg-6 {
  list-style-type: none;
}

.lst-kix_xwocr6ggltjz-7 > li:before {
  content: '' counter(lst-ctn-kix_xwocr6ggltjz-7, lower-latin) '. ';
}

.lst-kix_xwocr6ggltjz-5 > li:before {
  content: '(' counter(lst-ctn-kix_xwocr6ggltjz-5, lower-roman) ') ';
}

.lst-kix_xwocr6ggltjz-6 > li:before {
  content: '' counter(lst-ctn-kix_xwocr6ggltjz-6, decimal) '. ';
}

ul.lst-kix_h7gw9whpcljw-8 {
  list-style-type: none;
}

ul.lst-kix_h7gw9whpcljw-6 {
  list-style-type: none;
}

ul.lst-kix_h7gw9whpcljw-7 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-6.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-6 0;
}

.lst-kix_xwocr6ggltjz-8 > li:before {
  content: '' counter(lst-ctn-kix_xwocr6ggltjz-8, lower-roman) '. ';
}

ul.lst-kix_h7gw9whpcljw-0 {
  list-style-type: none;
}

ul.lst-kix_h7gw9whpcljw-1 {
  list-style-type: none;
}

ul.lst-kix_h7gw9whpcljw-4 {
  list-style-type: none;
}

ul.lst-kix_h7gw9whpcljw-5 {
  list-style-type: none;
}

ul.lst-kix_h7gw9whpcljw-2 {
  list-style-type: none;
}

ul.lst-kix_h7gw9whpcljw-3 {
  list-style-type: none;
}

.lst-kix_4w69f2uyznbw-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_4w69f2uyznbw-3 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_tqbf37g22oh-7 {
  list-style-type: none;
}

ul.lst-kix_tqbf37g22oh-6 {
  list-style-type: none;
}

.lst-kix_ijzhuumdvu10-8 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_tqbf37g22oh-8 {
  list-style-type: none;
}

.lst-kix_qid88thxw754-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_qid88thxw754-4 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_tqbf37g22oh-3 {
  list-style-type: none;
}

ul.lst-kix_tqbf37g22oh-2 {
  list-style-type: none;
}

.lst-kix_psnzckr0ptex-4 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_tqbf37g22oh-5 {
  list-style-type: none;
}

ul.lst-kix_tqbf37g22oh-4 {
  list-style-type: none;
}

.lst-kix_lt9at56x6fm0-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_xwocr6ggltjz-0 > li:before {
  content: '' counter(lst-ctn-kix_xwocr6ggltjz-0, decimal) ') ';
}

ul.lst-kix_tqbf37g22oh-1 {
  list-style-type: none;
}

.lst-kix_ijzhuumdvu10-6 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_tqbf37g22oh-0 {
  list-style-type: none;
}

.lst-kix_qid88thxw754-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_4v4uagy0vdrl-7 > li:before {
  content: '\0025cb  ';
}

ol.lst-kix_xwocr6ggltjz-7.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-7 0;
}

.lst-kix_psnzckr0ptex-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_4v4uagy0vdrl-3 > li:before {
  content: '\0025cf  ';
}

.lst-kix_4v4uagy0vdrl-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_yg1kfgpctdls-0 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-0;
}

.lst-kix_rtk8dibdn4n3-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_h7gw9whpcljw-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_psnzckr0ptex-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_4v4uagy0vdrl-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_rtk8dibdn4n3-3 > li:before {
  content: '\0025cf  ';
}

.lst-kix_rtk8dibdn4n3-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_xwocr6ggltjz-1 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-1;
}

ol.lst-kix_yg1kfgpctdls-2.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-2 0;
}

ul.lst-kix_psnzckr0ptex-7 {
  list-style-type: none;
}

ul.lst-kix_h8g7scepdec2-4 {
  list-style-type: none;
}

ul.lst-kix_psnzckr0ptex-8 {
  list-style-type: none;
}

ul.lst-kix_h8g7scepdec2-5 {
  list-style-type: none;
}

ul.lst-kix_psnzckr0ptex-5 {
  list-style-type: none;
}

ul.lst-kix_h8g7scepdec2-2 {
  list-style-type: none;
}

ul.lst-kix_psnzckr0ptex-6 {
  list-style-type: none;
}

ul.lst-kix_h8g7scepdec2-3 {
  list-style-type: none;
}

ul.lst-kix_h8g7scepdec2-0 {
  list-style-type: none;
}

.lst-kix_h7gw9whpcljw-3 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_h8g7scepdec2-1 {
  list-style-type: none;
}

.lst-kix_h8g7scepdec2-4 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_psnzckr0ptex-0 {
  list-style-type: none;
}

ul.lst-kix_4v4uagy0vdrl-0 {
  list-style-type: none;
}

ul.lst-kix_psnzckr0ptex-3 {
  list-style-type: none;
}

.lst-kix_h8g7scepdec2-2 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_h8g7scepdec2-8 {
  list-style-type: none;
}

ul.lst-kix_psnzckr0ptex-4 {
  list-style-type: none;
}

ol.lst-kix_yg1kfgpctdls-1.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-1 0;
}

ul.lst-kix_psnzckr0ptex-1 {
  list-style-type: none;
}

ul.lst-kix_h8g7scepdec2-6 {
  list-style-type: none;
}

ul.lst-kix_psnzckr0ptex-2 {
  list-style-type: none;
}

ul.lst-kix_h8g7scepdec2-7 {
  list-style-type: none;
}

ul.lst-kix_4v4uagy0vdrl-6 {
  list-style-type: none;
}

.lst-kix_h8g7scepdec2-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_h7gw9whpcljw-5 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_4v4uagy0vdrl-5 {
  list-style-type: none;
}

.lst-kix_xwocr6ggltjz-2 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-2;
}

ul.lst-kix_4v4uagy0vdrl-8 {
  list-style-type: none;
}

ul.lst-kix_4v4uagy0vdrl-7 {
  list-style-type: none;
}

ul.lst-kix_4v4uagy0vdrl-2 {
  list-style-type: none;
}

.lst-kix_h7gw9whpcljw-7 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_4v4uagy0vdrl-1 {
  list-style-type: none;
}

ul.lst-kix_4v4uagy0vdrl-4 {
  list-style-type: none;
}

ul.lst-kix_4v4uagy0vdrl-3 {
  list-style-type: none;
}

.lst-kix_6qzi68t5nia8-6 > li:before {
  content: '\0025cf  ';
}

.lst-kix_ijzhuumdvu10-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_psnzckr0ptex-6 > li:before {
  content: '\0025cf  ';
}

.lst-kix_psnzckr0ptex-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ijzhuumdvu10-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_ijzhuumdvu10-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_qid88thxw754-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ujb0cbvyduvg-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ujb0cbvyduvg-6 > li:before {
  content: '\0025cf  ';
}

.lst-kix_xwocr6ggltjz-8 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-8;
}

.lst-kix_6qzi68t5nia8-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_6qzi68t5nia8-8 > li:before {
  content: '\0025a0  ';
}

ol.lst-kix_yg1kfgpctdls-0 {
  list-style-type: none;
}

ol.lst-kix_yg1kfgpctdls-0.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-0 0;
}

ol.lst-kix_yg1kfgpctdls-1 {
  list-style-type: none;
}

ol.lst-kix_yg1kfgpctdls-2 {
  list-style-type: none;
}

ol.lst-kix_yg1kfgpctdls-3 {
  list-style-type: none;
}

.lst-kix_qid88thxw754-6 > li:before {
  content: '\0025cf  ';
}

ol.lst-kix_yg1kfgpctdls-4 {
  list-style-type: none;
}

.lst-kix_4w69f2uyznbw-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ujb0cbvyduvg-4 > li:before {
  content: '\0025cb  ';
}

ol.lst-kix_yg1kfgpctdls-5 {
  list-style-type: none;
}

ol.lst-kix_yg1kfgpctdls-6 {
  list-style-type: none;
}

ol.lst-kix_yg1kfgpctdls-7 {
  list-style-type: none;
}

.lst-kix_h8g7scepdec2-6 > li:before {
  content: '\0025cf  ';
}

.lst-kix_yg1kfgpctdls-5 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-5;
}

ol.lst-kix_yg1kfgpctdls-8 {
  list-style-type: none;
}

.lst-kix_6qzi68t5nia8-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_h8g7scepdec2-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_6qzi68t5nia8-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_4w69f2uyznbw-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_ujb0cbvyduvg-2 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_ysdf3zmv7fhf-2 {
  list-style-type: none;
}

.lst-kix_s3us63w2q533-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_tqbf37g22oh-1 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_ysdf3zmv7fhf-3 {
  list-style-type: none;
}

ul.lst-kix_ysdf3zmv7fhf-0 {
  list-style-type: none;
}

.lst-kix_s3us63w2q533-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_s3us63w2q533-6 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_ysdf3zmv7fhf-1 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-8 {
  list-style-type: none;
}

.lst-kix_yg1kfgpctdls-0 > li:before {
  content: '' counter(lst-ctn-kix_yg1kfgpctdls-0, decimal) ') ';
}

.lst-kix_yg1kfgpctdls-2 > li:before {
  content: '' counter(lst-ctn-kix_yg1kfgpctdls-2, lower-roman) ') ';
}

ul.lst-kix_ysdf3zmv7fhf-6 {
  list-style-type: none;
}

.lst-kix_s3us63w2q533-3 > li:before {
  content: '\0025cf  ';
}

.lst-kix_s3us63w2q533-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_tqbf37g22oh-3 > li:before {
  content: '\0025cf  ';
}

.lst-kix_810zph6rkb62-1 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_ysdf3zmv7fhf-7 {
  list-style-type: none;
}

ul.lst-kix_ysdf3zmv7fhf-4 {
  list-style-type: none;
}

.lst-kix_tqbf37g22oh-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_tqbf37g22oh-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_810zph6rkb62-0 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_ysdf3zmv7fhf-5 {
  list-style-type: none;
}

.lst-kix_yg1kfgpctdls-1 > li:before {
  content: '' counter(lst-ctn-kix_yg1kfgpctdls-1, lower-latin) ') ';
}

.lst-kix_yg1kfgpctdls-5 > li:before {
  content: '(' counter(lst-ctn-kix_yg1kfgpctdls-5, lower-roman) ') ';
}

.lst-kix_s3us63w2q533-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_s3us63w2q533-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_s3us63w2q533-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_s3us63w2q533-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_yg1kfgpctdls-4 > li:before {
  content: '(' counter(lst-ctn-kix_yg1kfgpctdls-4, lower-latin) ') ';
}

.lst-kix_tqbf37g22oh-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_810zph6rkb62-6 > li:before {
  content: '\0025cf  ';
}

ol.lst-kix_xwocr6ggltjz-8.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-8 0;
}

.lst-kix_yg1kfgpctdls-3 > li:before {
  content: '(' counter(lst-ctn-kix_yg1kfgpctdls-3, decimal) ') ';
}

ul.lst-kix_ijzhuumdvu10-1 {
  list-style-type: none;
}

.lst-kix_810zph6rkb62-7 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_ijzhuumdvu10-2 {
  list-style-type: none;
}

ul.lst-kix_ijzhuumdvu10-3 {
  list-style-type: none;
}

.lst-kix_ysdf3zmv7fhf-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_ysdf3zmv7fhf-3 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_ijzhuumdvu10-4 {
  list-style-type: none;
}

.lst-kix_yg1kfgpctdls-8 > li:before {
  content: '' counter(lst-ctn-kix_yg1kfgpctdls-8, lower-roman) '. ';
}

.lst-kix_tqbf37g22oh-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_tqbf37g22oh-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_810zph6rkb62-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ysdf3zmv7fhf-2 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_ijzhuumdvu10-0 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-3 {
  list-style-type: none;
}

ul.lst-kix_6qzi68t5nia8-1 {
  list-style-type: none;
}

.lst-kix_tqbf37g22oh-5 > li:before {
  content: '\0025a0  ';
}

ol.lst-kix_xwocr6ggltjz-2 {
  list-style-type: none;
}

ul.lst-kix_6qzi68t5nia8-0 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-1 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-0 {
  list-style-type: none;
}

.lst-kix_yg1kfgpctdls-6 > li:before {
  content: '' counter(lst-ctn-kix_yg1kfgpctdls-6, decimal) '. ';
}

ol.lst-kix_xwocr6ggltjz-7 {
  list-style-type: none;
}

ul.lst-kix_ijzhuumdvu10-5 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-6 {
  list-style-type: none;
}

ul.lst-kix_ijzhuumdvu10-6 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-5 {
  list-style-type: none;
}

.lst-kix_tqbf37g22oh-6 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_ijzhuumdvu10-7 {
  list-style-type: none;
}

.lst-kix_ysdf3zmv7fhf-0 > li:before {
  content: '\0025cf  ';
}

ol.lst-kix_xwocr6ggltjz-4 {
  list-style-type: none;
}

ul.lst-kix_ijzhuumdvu10-8 {
  list-style-type: none;
}

.lst-kix_yg1kfgpctdls-7 > li:before {
  content: '' counter(lst-ctn-kix_yg1kfgpctdls-7, lower-latin) '. ';
}

ul.lst-kix_qid88thxw754-3 {
  list-style-type: none;
}

ul.lst-kix_qid88thxw754-2 {
  list-style-type: none;
}

ul.lst-kix_qid88thxw754-5 {
  list-style-type: none;
}

ul.lst-kix_qid88thxw754-4 {
  list-style-type: none;
}

ul.lst-kix_qid88thxw754-7 {
  list-style-type: none;
}

ul.lst-kix_qid88thxw754-6 {
  list-style-type: none;
}

ul.lst-kix_qid88thxw754-8 {
  list-style-type: none;
}

.lst-kix_yg1kfgpctdls-6 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-6;
}

ul.lst-kix_qid88thxw754-1 {
  list-style-type: none;
}

ul.lst-kix_qid88thxw754-0 {
  list-style-type: none;
}

ul.lst-kix_ysdf3zmv7fhf-8 {
  list-style-type: none;
}

.lst-kix_xwocr6ggltjz-7 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-7;
}

.lst-kix_xwocr6ggltjz-3 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-3;
}

ul.lst-kix_s3us63w2q533-7 {
  list-style-type: none;
}

ol.lst-kix_yg1kfgpctdls-4.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-4 0;
}

.lst-kix_yg1kfgpctdls-4 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-4;
}

ul.lst-kix_s3us63w2q533-8 {
  list-style-type: none;
}

.lst-kix_lt9at56x6fm0-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_lt9at56x6fm0-6 > li:before {
  content: '\0025cf  ';
}

ol.lst-kix_yg1kfgpctdls-3.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-3 0;
}

.lst-kix_ysdf3zmv7fhf-6 > li:before {
  content: '\0025cf  ';
}

.lst-kix_lt9at56x6fm0-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ysdf3zmv7fhf-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_lt9at56x6fm0-3 > li:before {
  content: '\0025cf  ';
}

.lst-kix_lt9at56x6fm0-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_ysdf3zmv7fhf-4 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_lt9at56x6fm0-3 {
  list-style-type: none;
}

ul.lst-kix_lt9at56x6fm0-4 {
  list-style-type: none;
}

ul.lst-kix_lt9at56x6fm0-5 {
  list-style-type: none;
}

ul.lst-kix_lt9at56x6fm0-6 {
  list-style-type: none;
}

.lst-kix_810zph6rkb62-5 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_lt9at56x6fm0-7 {
  list-style-type: none;
}

ul.lst-kix_lt9at56x6fm0-8 {
  list-style-type: none;
}

.lst-kix_810zph6rkb62-4 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_vzjkj1itbnic-8 {
  list-style-type: none;
}

.lst-kix_810zph6rkb62-3 > li:before {
  content: '\0025cf  ';
}

.lst-kix_lt9at56x6fm0-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_ysdf3zmv7fhf-7 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_vzjkj1itbnic-4 {
  list-style-type: none;
}

ul.lst-kix_vzjkj1itbnic-5 {
  list-style-type: none;
}

.lst-kix_lt9at56x6fm0-0 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_lt9at56x6fm0-0 {
  list-style-type: none;
}

ul.lst-kix_vzjkj1itbnic-6 {
  list-style-type: none;
}

.lst-kix_810zph6rkb62-2 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_lt9at56x6fm0-1 {
  list-style-type: none;
}

.lst-kix_ysdf3zmv7fhf-8 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_vzjkj1itbnic-7 {
  list-style-type: none;
}

ul.lst-kix_lt9at56x6fm0-2 {
  list-style-type: none;
}

ul.lst-kix_vzjkj1itbnic-0 {
  list-style-type: none;
}

ul.lst-kix_vzjkj1itbnic-1 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-1.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-1 0;
}

ul.lst-kix_vzjkj1itbnic-2 {
  list-style-type: none;
}

ul.lst-kix_vzjkj1itbnic-3 {
  list-style-type: none;
}

.lst-kix_yg1kfgpctdls-1 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-1;
}

.lst-kix_4w69f2uyznbw-2 > li:before {
  content: '\0025a0  ';
}

.lst-kix_xwocr6ggltjz-0 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-0;
}

.lst-kix_qid88thxw754-3 > li:before {
  content: '\0025cf  ';
}

.lst-kix_qid88thxw754-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ijzhuumdvu10-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_4w69f2uyznbw-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_qid88thxw754-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_psnzckr0ptex-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ijzhuumdvu10-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_lt9at56x6fm0-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_4v4uagy0vdrl-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_4v4uagy0vdrl-6 > li:before {
  content: '\0025cf  ';
}

.lst-kix_psnzckr0ptex-3 > li:before {
  content: '\0025cf  ';
}

ol.lst-kix_yg1kfgpctdls-5.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-5 0;
}

.lst-kix_psnzckr0ptex-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_4v4uagy0vdrl-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_yg1kfgpctdls-3 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-3;
}

ul.lst-kix_rtk8dibdn4n3-2 {
  list-style-type: none;
}

ul.lst-kix_rtk8dibdn4n3-3 {
  list-style-type: none;
}

ul.lst-kix_rtk8dibdn4n3-0 {
  list-style-type: none;
}

ol.lst-kix_xwocr6ggltjz-4.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-4 0;
}

.lst-kix_h7gw9whpcljw-0 > li:before {
  content: '\0025cf  ';
}

.lst-kix_h7gw9whpcljw-2 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_rtk8dibdn4n3-1 {
  list-style-type: none;
}

ul.lst-kix_rtk8dibdn4n3-6 {
  list-style-type: none;
}

ul.lst-kix_rtk8dibdn4n3-7 {
  list-style-type: none;
}

.lst-kix_rtk8dibdn4n3-4 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_rtk8dibdn4n3-4 {
  list-style-type: none;
}

.lst-kix_rtk8dibdn4n3-8 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_rtk8dibdn4n3-5 {
  list-style-type: none;
}

.lst-kix_4v4uagy0vdrl-2 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_s3us63w2q533-1 {
  list-style-type: none;
}

ul.lst-kix_s3us63w2q533-2 {
  list-style-type: none;
}

ul.lst-kix_rtk8dibdn4n3-8 {
  list-style-type: none;
}

ul.lst-kix_s3us63w2q533-0 {
  list-style-type: none;
}

ul.lst-kix_s3us63w2q533-5 {
  list-style-type: none;
}

ul.lst-kix_s3us63w2q533-6 {
  list-style-type: none;
}

.lst-kix_rtk8dibdn4n3-6 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_s3us63w2q533-3 {
  list-style-type: none;
}

ul.lst-kix_s3us63w2q533-4 {
  list-style-type: none;
}

.lst-kix_4v4uagy0vdrl-0 > li:before {
  content: '\0025cf  ';
}

ul.lst-kix_810zph6rkb62-5 {
  list-style-type: none;
}

ul.lst-kix_810zph6rkb62-6 {
  list-style-type: none;
}

.lst-kix_h7gw9whpcljw-8 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_810zph6rkb62-3 {
  list-style-type: none;
}

ul.lst-kix_810zph6rkb62-4 {
  list-style-type: none;
}

ul.lst-kix_810zph6rkb62-1 {
  list-style-type: none;
}

ul.lst-kix_810zph6rkb62-2 {
  list-style-type: none;
}

ul.lst-kix_810zph6rkb62-0 {
  list-style-type: none;
}

.lst-kix_h7gw9whpcljw-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_h8g7scepdec2-3 > li:before {
  content: '\0025cf  ';
}

ol.lst-kix_yg1kfgpctdls-8.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-8 0;
}

.lst-kix_h8g7scepdec2-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_h7gw9whpcljw-6 > li:before {
  content: '\0025cf  ';
}

ol.lst-kix_xwocr6ggltjz-2.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-2 0;
}

ul.lst-kix_810zph6rkb62-7 {
  list-style-type: none;
}

ul.lst-kix_810zph6rkb62-8 {
  list-style-type: none;
}

.lst-kix_psnzckr0ptex-7 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_6qzi68t5nia8-8 {
  list-style-type: none;
}

.lst-kix_ijzhuumdvu10-1 > li:before {
  content: '\0025cb  ';
}

ul.lst-kix_6qzi68t5nia8-7 {
  list-style-type: none;
}

ul.lst-kix_6qzi68t5nia8-6 {
  list-style-type: none;
}

ul.lst-kix_6qzi68t5nia8-5 {
  list-style-type: none;
}

ul.lst-kix_6qzi68t5nia8-4 {
  list-style-type: none;
}

ul.lst-kix_6qzi68t5nia8-3 {
  list-style-type: none;
}

.lst-kix_6qzi68t5nia8-5 > li:before {
  content: '\0025a0  ';
}

ul.lst-kix_6qzi68t5nia8-2 {
  list-style-type: none;
}

.lst-kix_ujb0cbvyduvg-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_xwocr6ggltjz-5 > li {
  counter-increment: lst-ctn-kix_xwocr6ggltjz-5;
}

.lst-kix_yg1kfgpctdls-8 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-8;
}

.lst-kix_qid88thxw754-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_ijzhuumdvu10-3 > li:before {
  content: '\0025cf  ';
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}

.lst-kix_6qzi68t5nia8-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_ujb0cbvyduvg-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_h8g7scepdec2-5 > li:before {
  content: '\0025a0  ';
}

.lst-kix_4w69f2uyznbw-4 > li:before {
  content: '\0025cb  ';
}

.lst-kix_4w69f2uyznbw-6 > li:before {
  content: '\0025cf  ';
}

.lst-kix_yg1kfgpctdls-2 > li {
  counter-increment: lst-ctn-kix_yg1kfgpctdls-2;
}

ol.lst-kix_xwocr6ggltjz-3.start {
  counter-reset: lst-ctn-kix_xwocr6ggltjz-3 0;
}

.lst-kix_6qzi68t5nia8-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_ujb0cbvyduvg-1 > li:before {
  content: '\0025cb  ';
}

.lst-kix_h8g7scepdec2-7 > li:before {
  content: '\0025cb  ';
}

.lst-kix_4w69f2uyznbw-8 > li:before {
  content: '\0025a0  ';
}

.lst-kix_ujb0cbvyduvg-3 > li:before {
  content: '\0025cf  ';
}

.lst-kix_6qzi68t5nia8-3 > li:before {
  content: '\0025cf  ';
}

ol.lst-kix_yg1kfgpctdls-7.start {
  counter-reset: lst-ctn-kix_yg1kfgpctdls-7 0;
}

ol {
  margin: 0;
  padding: 0;
}

table td,
table th {
  padding: 0;
}

.c23 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.2413793103448276;
  border-left-width: 0pt;
  border-top-style: solid;
  margin-left: 36pt;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
  padding-right: 0pt;
}

.c3 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 4pt;
  padding-left: 0pt;
  padding-bottom: 8pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c7 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c8 {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11.5pt;
  font-family: 'Arial';
  font-style: normal;
}

.c0 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}

.c28 {
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c29 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: 'Arial';
  font-style: normal;
}

.c19 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11.5pt;
  font-family: 'Arial';
  font-style: normal;
}

.c10 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: 'Times New Roman';
  font-style: normal;
}

.c11 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}

.c35 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c22 {
  padding-top: 18pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c5 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: 'Arial';
  font-style: normal;
}

.c12 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: 'Arial';
  font-style: normal;
}

.c14 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c24 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: super;
  font-size: 11pt;
  font-family: 'Arial';
  font-style: normal;
}

.c31 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  font-family: 'Arial';
  font-style: normal;
}

.c38 {
  padding-top: 4pt;
  padding-bottom: 8pt;
  line-height: 1.3125;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c17 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c21 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Times New Roman';
  font-style: normal;
}

.c32 {
  color: #434343;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}

.c6 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Times New Roman';
  font-style: normal;
}

.c2 {
  background-color: #ffffff;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 11.5pt;
}

.c15 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}

.c16 {
  background-color: #f9f9f9;
  font-size: 10.5pt;
  font-family: 'Roboto';
  color: #030303;
  font-weight: 400;
}

.c20 {
  background-color: #fce5cd;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
}

.c13 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
}

.c36 {
  font-family: 'Times New Roman';
  font-weight: 700;
}

.c33 {
  font-family: 'Times New Roman';
  font-weight: 400;
}

.c39 {
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}

.c25 {
  vertical-align: super;
  font-size: 19pt;
}

.c4 {
  color: inherit;
  text-decoration: inherit;
}

.c37 {
  margin-left: 36pt;
  padding-left: 0pt;
}

.c18 {
  padding: 0;
  margin: 0;
}

.c30 {
  font-size: 13pt;
}

.c9 {
  background-color: #ffffff;
}

.c26 {
  font-size: 11.5pt;
}

.c27 {
  background-color: #fce5cd;
}

.c34 {
  font-size: 10.5pt;
}

.c1 {
  font-size: 12pt;
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: 'Arial';
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: 'Arial';
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
